a:link {
	font-family: arial, sans-serif;
	font-size: 13.1199998855591px
}

a:visited {
	font-family: arial, sans-serif;
	font-size: 13.1199998855591px;
	color: rgb(0, 0, 238);
}

table a:link {
	font-family: arial, sans-serif;
	font-size: 13.1199998855591px
}

table a:visited {
	font-family: arial, sans-serif;
	font-size: 13.1199998855591px
}

table a:active,
table a:hover {
	font-family: arial, sans-serif;
	font-size: 13.1199998855591px
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0)
}

.list {
	background-color: #ebeff9;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 5px
}

.listbottom {
	background-color: #ebeff9;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	padding: 5px
}

.bottomdiv {
	padding-left: 8px;
	padding-right: 8px;
}

.previoushistory {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

.googlecodelink {
	float: right;
	white-space: nowrap;
	padding-right: 10px;
}

.blankrevisioncell {
	border-top: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	border-right: 1px solid #ccc;
}

.results th,
.results_lite th {
	background: #eee;
	padding-right: 1px
}

.results_lite th {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}

.results th {
	border-left: 0;
	border: 1px solid #ccc
}

th {
	font-weight: 700
}

td,
th {
	display: table-cell
}

table {
	border-collapse: separate
}

.results td {
	padding: 4px;
	background: #fff
}

td,
th {
	display: table-cell;
	vertical-align: inherit
}

body {
	background: #fff;
	font: 82% arial, sans-serif;
	margin: 3px 0;
	min-width: 768px
}

#maincol {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	background: #fff
}

#colcontrol {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
}

tbody {
	display: table-row-group;
	vertical-align: middle
}

tbody,
tr {
	border-color: inherit
}

tr {
	display: table-row;
	vertical-align: inherit
}

.results tr td {
	border-bottom: 1px solid #ccc
}

.results {
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
	border-bottom-color: gray;
	border-bottom-width: 0;
	border-collapse: separate;
	border-left-color: #bbb;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #bbb;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: gray;
	border-top-width: 0;
	display: table;
	font-family: arial, sans-serif;
	font-size: 13.1199998855591px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: normal;
	table-layout: fixed
}

input#styleid:focus {
	color: #000;
	outline: none;
	border: #35a5e5 1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	text-align: center
}

input#styleid {
	color: #666;
	font-size: 12px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 5px 0 10px;
	padding: 15px;
	height: 20px;
	width: 150px;
	border: #999 1px solid;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	text-align: center
}

textarea {
	resize: none
}
