.commit-header a {
    text-decoration: none;
    color: #444d56;
    font-weight: 600;
}

.commit-header a:hover {
    text-decoration: underline
}

.commit-sha a {
    text-decoration: none;
    color: #0366d6;
    /* font-weight: 600; */
    width: 100%;
    height: 100%;
}

.commit-sha a:hover {
    text-decoration: underline;
}

.author-image {
    border-radius: 2px;
    display:block;
    height: 20px;
    width: 20px;
}

.revision-cell {
    border-top: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 1px solid #ccc;
    text-align:center;
}

.same-revision-cell {
    border-top: 0 solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 1px solid #ccc;'
}

.author-cell{
    border-top: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 0 solid #ccc;
}

.branch-cell {
    border-top: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 0 solid #ccc;
    text-align: center;
}

.message-cell {
    border-top: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 0 solid #ccc;
    padding-left:2em;
}

.date-cell {
    border-top: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 0 solid #ccc;
}

.hash-cell {
    border-top: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    border-right: 0 solid #ccc;
}
